---
import P from "../Typography/P.astro";
import Button from "../Button.astro";

import fallbackImage from "../../assets/hero.jpg";
import heroImage from "../../assets/hero.webp";
import mobileHeroImage from "../../assets/hero-mobile.webp";
---

<section class="relative">
    <picture>
        <source
            srcset={mobileHeroImage.src}
            width={mobileHeroImage.width}
            height={mobileHeroImage.height}
            media="(max-width: 768px)"
        />
        <source
            srcset={heroImage.src}
            width={heroImage.width}
            height={heroImage.height}
        />
        <img
            src={fallbackImage.src}
            width={fallbackImage.width}
            height={fallbackImage.height}
            alt="Hero Image"
            class="w-full h-[60vh] md:h-[80vh] object-cover brightness-75"
            loading="eager"
        />
    </picture>

    <!-- Overlay -->
    <div
        class="absolute inset-0 bg-gradient-to-b from-transparent to-[rgba(21,66,124,0.59)] to-60% z-0"
    >
    </div>

    <div
        class="flex flex-col gap-4 md:gap-6 absolute top-1/2 -translate-y-1/2 md:bottom-28 xl:px-36 lg:px-18 md:px-9 px-4"
    >
        <div class="flex gap-5 items-center">
            <i class="fas fa-stethoscope text-white text-xl md:text-3xl"></i>
            <h1 class="text-white text-xl md:text-3xl font-display">
                Studio Medico Dusio
            </h1>
        </div>
        <h2 class="text-white text-4xl md:text-6xl font-display">
            La <span class="text-hero">tua salute</span> al centro<br />
            delle <span class="text-hero">nostre cure</span>
        </h2>
        <P class="text-white">
            Oltre <strong>30 anni di esperienza medica</strong>. Qui ogni cura è
            pensata<br />
            su misura per te, con un <strong
                >approccio umano e professionale</strong
            >.
        </P>
        <Button href="/lo-studio">
            SCOPRI DI PIÙ
            <i class="fas fa-chevron-right font-bold"></i>
        </Button>
    </div>
</section>
