---
import Layout from "../layouts/Layout.astro";

import PageTitle from "../components/PageTitle.astro";
import H3 from "../components/Typography/H3.astro";
import H4 from "../components/Typography/H4.astro";
import Card from "../components/Card.astro";
import BookingInfo from "../components/Sections/BookingInfo.astro";
import Reviews from "../components/Sections/Reviews.astro";

import photo7 from "../assets/photos/7.jpg";
---

<Layout>
    <PageTitle breadcrumbs="HOME - SERVIZI" title="Servizi Sanitari">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </PageTitle>
    <section
        class="flex flex-col gap-2 px-4 py-8 xl:px-36 lg:px-18 md:px-9 md:py-12 items-center"
    >
        <H4>Pagina Servizi</H4>
        <H3>Per i pazienti lorem ipsum</H3>
        <div class="mt-8 grid md:grid-cols-2 xl:grid-cols-3 gap-10">
            <Card
                class="w-80 h-60"
                title="Visite ambulatoriali"
                href="/studio-dusio/servizi/visite-ambulatoriali"
                image={photo7}
                alt="Visite ambulatoriali"
            />
            <Card
                class="w-80 h-60"
                title="Visite domiciliari"
                href="#"
                image={photo7}
                alt="Visite domiciliari"
            />
            <Card
                class="w-80 h-60"
                title="Ricette"
                href="#"
                image={photo7}
                alt="Ricette"
            />
            <Card
                class="w-80 h-60"
                title="Certificati"
                href="#"
                image={photo7}
                alt="Certificati"
            />
            <Card
                class="w-80 h-60"
                title="Vaccinazioni"
                href="#"
                image={photo7}
                alt="Vaccinazioni"
            />
            <Card
                class="w-80 h-60"
                title="Attività infermieristica"
                href="#"
                image={photo7}
                alt="Attività infermieristica"
            />
            <Card
                class="w-80 h-60"
                title="Terapia delle Cefalee"
                href="#"
                image={photo7}
                alt="Terapia delle Cefalee"
            />
            <Card
                class="w-80 h-60"
                title="Spirometria"
                href="#"
                image={photo7}
                alt="Spirometria"
            />
        </div>
        <H3 class="mt-8 text-center">
            Attività <span class="text-green">Professionali</span> e Collaborazioni
        </H3>
        <div class="mt-8 grid md:grid-cols-2 xl:grid-cols-3 gap-10">
            <Card
                class="w-80 h-60"
                title="Tutor scuola di Medicina Generale"
                href="#"
                image={photo7}
                alt="Tutor scuola di Medicina Generale"
            />
            <Card
                class="w-80 h-60"
                title="Medicina di Gruppo"
                href="#"
                image={photo7}
                alt="Medicina di Gruppo"
            />
            <Card
                class="w-80 h-60"
                title="Medico Sentinella Influenza"
                href="#"
                image={photo7}
                alt="Medico Sentinella Influenza"
            />
        </div>
    </section>
    <Reviews />
    <BookingInfo class="bg-blue-2" />
</Layout>
